snippet desc
	require 'spec_helper'

	describe ${1} do
	  ${2}
	end

snippet des
	describe "${1}" do
	  ${2}
	end

snippet cont
	context "${1}" do
	  ${2}
	end

snippet it
	it "${1}" do
	  ${2}
	end

snippet bef
	before do
	  ${1}
	end

snippet aft
	after do
	  ${1}
	end

snippet fgc
	FactoryGirl.create(:${1})

snippet fgb
	FactoryGirl.build(:${1})
