[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/syntatic"]
	path = bundle/syntatic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "path"]
	path = path
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/vim-go"]
    path = bundle/vim-go
    url = https://github.com/fatih/vim-go.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/vim-clojure"]
	path = bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
